@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@-webkit-keyframes hideShow {
  0% {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes hideShow {
  0% {
    -webkit-transform: scaleX(0.7);
            transform: scaleX(0.7);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body,
input {
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 200rem;
  height: 200rem;
  border-radius: 50%;
  background: linear-gradient(97deg, #fad0c4, #e3528f);
  top: -10%;
  right: 48%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 6;
  -webkit-transition: 1.8s ease-in-out;
  transition: 1.8s ease-in-out;
}

.container .forms-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.container .signin-singup {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  z-index: 5;
  -webkit-transition: 1s 0.7s ease-in-out;
  transition: 1s 0.7s ease-in-out;
}

.container .signin-singup form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/ 2;
  padding: 0 5rem;
  overflow: hidden;
  -webkit-transition: 0.2s 0.7s ease-in-out;
  transition: 0.2s 0.7s ease-in-out;
}

.container .signin-singup form.sign-in-form {
  padding-bottom: 4rem;
  z-index: 2;
}

.container .signin-singup form.sign-up-form {
  z-index: 1;
  opacity: 0;
}

.container .signin-singup form .title {
  font-size: 3rem;
  color: #444;
  margin-bottom: 1rem;
}

.container .signin-singup form span {
  color: #e3528f;
  text-transform: capitalize;
  text-decoration: underline;
  -webkit-animation: hideShow 2s infinite linear;
          animation: hideShow 2s infinite linear;
}

.container .signin-singup form .input-field {
  position: relative;
  max-width: 38rem;
  width: 100%;
  height: 5.5rem;
  background: #f0f0f0;
  margin: 2rem 0;
  border-radius: 5.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
}

.container .signin-singup form .input-field i {
  text-align: center;
  line-height: 5.5rem;
  color: #acacac;
  font-size: 1.1rem;
}

.container .signin-singup form .input-field .look {
  position: absolute;
  right: 0;
  margin-right: 2rem;
  display: inline-block;
  cursor: pointer;
}

.container .signin-singup form .input-field .see {
  outline-style: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: transparent;
  font-size: 1.5rem;
  color: #aaa;
}

.container .signin-singup form .input-field .see.active:before {
  background: transparent;
  font-size: 1.6rem;
  color: #3f3d56;
  content: "\f070";
}

.container .signin-singup form .input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.7rem;
  color: #333;
  border-radius: 0rem 5.5rem 5.5rem 0rem;
}

.container .signin-singup form .input-field input::-webkit-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.container .signin-singup form .input-field input:-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.container .signin-singup form .input-field input::-ms-input-placeholder {
  color: #aaa;
  font-weight: 500;
}

.container .signin-singup form .input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.container .signin-singup form .input-field .form-message {
  display: block;
  width: 32rem;
  margin: 1rem 2rem 0;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-align: left;
}

.container .signin-singup form .input-field .form-message.valid {
  color: red;
}

.container .signin-singup form .btn {
  width: 15rem;
  height: 4.9rem;
  border: none;
  outline: none;
  border-radius: 4.9rem;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3528f), to(#f5c2b4));
  background: linear-gradient(#e3528f, #f5c2b4);
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 2.4rem 0 1rem 0;
}

.container .signin-singup form .btn:hover {
  letter-spacing: 0.2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fad0c4), to(#e3528f));
  background: linear-gradient(#fad0c4, #e3528f);
}

.container .signin-singup form .social-text {
  padding: 0.7rem 0;
  font-size: 1.4rem;
}

.container .signin-singup form .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .signin-singup form .social-icon {
  height: 4.6rem;
  width: 4.6rem;
  border: 0.1rem solid #333;
  margin: 0 0.45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .signin-singup form .social-icon:hover {
  color: #ff63dc;
  border-color: #3f3d56;
  -webkit-animation: hideShow 1s infinite linear;
          animation: hideShow 1s infinite linear;
}

.container .panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.container .panels-container .panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  z-index: 7;
}

.container .panels-container .panel .content {
  color: #fff;
  -webkit-transition: 0.9s 0.6s ease-in-out;
  transition: 0.9s 0.6s ease-in-out;
}

.container .panels-container .panel .content h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 2.6rem;
}

.container .panels-container .panel .content p {
  font-size: 1.7rem;
  padding: 0.7rem 0;
}

.container .panels-container .left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.container .panels-container .right-panel {
  pointer-events: none;
  padding: 3rem 17% 2rem 12%;
}

.container .panels-container .btn.trasparent {
  margin: 0;
  background: none;
  border: 0.2rem solid #fff;
  width: 13rem;
  height: 4.1rem;
  font-weight: 600;
  font-size: 1.7rem;
  color: #fff;
  border-radius: 4rem;
}

.container .panels-container .btn.trasparent:hover {
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.container .panels-container .image {
  -webkit-transition: 1.1s 0.4s ease-in-out;
  transition: 1.1s 0.4s ease-in-out;
  width: 100%;
}

.right-panel .content,
.right-panel .image {
  -webkit-transform: translateX(800px);
          transform: translateX(800px);
}

.container.sign-up-mode:before {
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  -webkit-transform: translateX(-80rem);
          transform: translateX(-80rem);
}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image {
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.container.sign-up-mode .signin-singup {
  left: 25%;
}

.container.sign-up-mode form.sign-in-form {
  z-index: 1;
  opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
  padding-bottom: 1rem;
  z-index: 2;
  opacity: 1;
}

@media (max-width: 870px) {
  .container {
    min-height: 80rem;
    height: 100vh;
  }
  .container .panels-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
  .container .panels-container .left-panel {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .container .panels-container .right-panel {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  .container .panels-container .panel {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2.5rem 8%;
  }
  .container .panels-container .panel .image {
    width: 20rem;
    -webkit-transition: 0.9s 0.6s ease-in-out;
    transition: 0.9s 0.6s ease-in-out;
  }
  .container .panels-container .panel .content {
    padding-right: 15%;
    -webkit-transition: 0.9s 0.8s ease-in-out;
    transition: 0.9s 0.8s ease-in-out;
  }
  .container .panels-container .panel .content .btn.transparent {
    width: 11rem;
    height: 3.5rem;
    font-size: 1rem;
  }
  .container .panels-container .panel h3 {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
  .container .panels-container .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .container:before {
    width: 150rem;
    height: 150rem;
    left: 30%;
    bottom: 68%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    right: initial;
    top: initial;
    -webkit-transition: 2s ease-in-out;
    transition: 2s ease-in-out;
  }
  .container .signin-singup {
    width: 100%;
    left: 50%;
    top: 95%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: 1s 0.8s ease-in-out;
    transition: 1s 0.8s ease-in-out;
  }
  .container.sign-up-mode .signin-singup {
    top: 5%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
  }
  .container.sign-up-mode .left-panel .image {
    -webkit-transform: translateX(30rem);
            transform: translateX(30rem);
  }
  .container.sign-up-mode .left-panel .content {
    -webkit-transform: translate(-50rem);
            transform: translate(-50rem);
  }
  .container.sign-up-mode:before {
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .right-panel .content,
  .right-panel .image {
    -webkit-transform: translateY(30rem);
            transform: translateY(30rem);
  }
}

@media (max-width: 570px) {
  .container {
    min-height: 80rem;
    height: 100vh;
  }
  .container form {
    padding: 0 1.5rem;
  }
  .container .image {
    display: none;
  }
  .container .panel .content {
    padding: auto;
  }
  .container .panel .content p {
    font-size: 1rem;
  }
  .container .container:before {
    bottom: 70%;
    left: 50%;
  }
  .container .container.sign-up-mode:before {
    bottom: 30%;
    left: 50%;
  }
}

.load {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.479);
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e033d7;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
/*# sourceMappingURL=login-register.css.map */