@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
  outline-style: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, left bottom, from(#fad0c4), to(#ef0064be));
  background: linear-gradient(#fad0c4, #ef0064be);
  border-radius: 10px;
}

body {
  background: #eee;
}

section {
  padding: 3rem 9%;
}

#toast {
  position: fixed;
  top: 90px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.toast--success {
  border-color: #47d864;
}

.toast__icon {
  color: #47d864;
}

.toast__icon, .toast__close {
  padding: 0 16px;
}

.toast .toast--success,
.toast .toast__icon {
  font-size: 24px;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.toast__close:hover {
  color: #e74040;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@-webkit-keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(calc(100% + 32px));
            transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(calc(100% + 32px));
            transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.overlay-payment {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.185);
}

.overlay-payment.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay-payment .form-get-info {
  position: relative;
  border-radius: 1rem;
  background: #f5b7b9;
  width: 60rem;
  text-align: center;
  padding: 2rem;
  margin: 0 2rem;
  z-index: 999999;
}

.overlay-payment .form-get-info .custom {
  position: absolute;
  right: 0;
  padding-right: 3rem;
  font-size: 3rem;
  cursor: pointer;
}

.overlay-payment .form-get-info .custom:hover {
  color: #ec3859;
}

.overlay-payment .form-get-info .title {
  padding-bottom: 1rem;
  font-size: 2.3rem;
}

.overlay-payment .form-get-info .title span {
  color: #ef647e;
  text-decoration: underline;
}

.overlay-payment .form-get-info .formdata .form__group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.overlay-payment .form-get-info .formdata .form__group label {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.overlay-payment .form-get-info .formdata .form__group input {
  border-radius: 5rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: #333;
}

.heading span {
  text-decoration: underline;
  color: #ef647e;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 3.5rem;
  padding: 1.5rem 6rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#fad0c4), to(#ef0064be));
  background: linear-gradient(#fad0c4, #ef0064be);
}

.btn:hover {
  font-weight: 700;
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3528f), to(#d8a293));
  background: linear-gradient(#e3528f, #d8a293);
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0;
  }
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #ef647e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.header .logo i {
  padding-right: 1rem;
  color: #fff;
}

.header .search-form {
  border-radius: 5rem;
  height: 5rem;
  width: 50rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.header .search-form input {
  width: 100%;
  padding-right: 1rem;
  font-size: 1.7rem;
  text-transform: none;
  color: #666;
  outline: none;
}

.header .search-form label {
  font-size: 2rem;
  color: #666;
  cursor: pointer;
}

.header .search-form label:hover {
  color: linear-gradient(#fad0c4, #ef0064be);
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: #666;
}

.header .icons .cart {
  left: -2.2rem;
  position: relative;
}

.header .icons .cart .count {
  font-size: 1.8rem;
  width: 3rem;
  bottom: 1.8rem;
  left: 3.4rem;
  position: absolute;
  z-index: 10;
  background: #f89fb1;
  border-radius: 50%;
  text-align: center;
}

#search-btn {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 30rem;
  background: #fff;
  z-index: 10000;
}

.side-bar.active {
  left: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.side-bar .overlay {
  position: fixed;
  margin-left: 30rem;
  width: calc(100% - 30rem);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.side-bar #close-side-bar {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #666;
}

.side-bar #close-side-bar:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #ef647e;
}

.side-bar .user {
  padding: 2rem;
  background: #eee;
  text-align: center;
}

.side-bar .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  border: 1rem solid linear-gradient(#fad0c4, #ef0064be);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.side-bar .user h3 {
  padding: 0.5rem 0;
  font-size: 1.7rem;
  color: #666;
}

.side-bar .user a {
  padding: 1rem 0;
  font-weight: 600;
  font-size: 1.8rem;
  color: #eb9fad;
}

.side-bar .user a:hover {
  letter-spacing: 1px;
  color: #333;
}

.side-bar .navbar {
  padding: 1rem 2rem;
}

.side-bar .navbar a {
  display: block;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  color: #666;
  font-weight: bolder;
}

.side-bar .navbar a:hover {
  color: #ef647e;
}

.side-bar .navbar a:hover i {
  padding-right: 3rem;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.side-bar .navbar i {
  padding-right: 1rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .image img {
  width: 100%;
  border-radius: 50%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 3rem;
  background: #fff;
  border-radius: 5rem;
}

.about .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
}

.about .content p {
  text-transform: none;
  font-size: 1.5rem;
  color: #666;
  padding: 0.5rem 0;
  line-height: 2;
}

.faq .accordion-container {
  max-width: 70rem;
  margin: 0 auto;
}

.faq .accordion-container .accordion {
  background: #fff;
  margin-bottom: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.faq .accordion-container .accordion:last-child {
  margin-bottom: 0.5rem;
}

.faq .accordion-container .accordion.active .accordion-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7b2f7), to(#f5c2b4));
  background: linear-gradient(#f7b2f7, #f5c2b4);
}

.faq .accordion-container .accordion.active .accordion-heading i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq .accordion-container .accordion.active .acconrdion-content {
  display: block;
}

.faq .accordion-container .accordion .accordion-heading {
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.479);
  cursor: pointer;
}

.faq .accordion-container .accordion .accordion-heading h3 {
  font-size: 2rem;
  color: #fff;
}

.faq .accordion-container .accordion .accordion-heading i {
  font-size: 2rem;
  color: #fff;
}

.faq .accordion-container .accordion .acconrdion-content {
  padding: 2rem;
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
  display: none;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.review .slide {
  width: 35rem;
  padding: 2rem;
  text-align: center;
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background: #fff;
}

.review .slide img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.review .slide h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #333;
}

.review .slide span {
  color: #ef647e;
  font-size: 1.7rem;
}

.review .slide p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}

.shopping-cart .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.shopping-cart .box-container .box {
  max-width: 70rem;
  position: relative;
  padding: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
}

.shopping-cart .box-container .box .fa-times:hover {
  color: #ec3838;
}

.shopping-cart .box-container .box img {
  height: 12rem;
}

.shopping-cart .box-container .box .content h3 {
  max-width: 25rem;
  font-size: 2rem;
  color: #333;
  padding-bottom: 2rem;
}

.shopping-cart .box-container .box .content form {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart .box-container .box .content form span {
  font-size: 1.7rem;
  font-weight: bold;
  color: #666;
}

.shopping-cart .box-container .box .content form input {
  width: 5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #eee;
  color: #666;
  font-size: 1.7rem;
}

.shopping-cart .box-container .box .content .price {
  padding-bottom: 1rem;
  font-size: 2rem;
  color: #f19dac;
}

.shopping-cart .box-container .box .content .price .price-down {
  display: inline-block;
}

.shopping-cart .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.shopping-cart .box-container .box .content .btn-favorite {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 3.5rem;
  padding: 1rem 4rem;
  font-size: 1.7rem;
  color: #fff;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#fad0c4), to(#ef0064be));
  background: linear-gradient(#fad0c4, #ef0064be);
}

.shopping-cart .box-container .box .content .btn-favorite:hover {
  letter-spacing: 1px;
}

.shopping-cart .empty-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shopping-cart .empty-product .empty {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.shopping-cart .empty-product .title-empty {
  color: #888;
}

.shopping-cart .empty-product .title-empty h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #666;
}

.shopping-cart .empty-product img {
  height: 20rem;
}

.shopping-cart .cart-total {
  margin-top: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  border-color: 0.5rem;
  background: #fff;
  padding: 2rem;
  padding-top: 1rem;
}

.shopping-cart .cart-total h3 {
  padding-top: 1rem;
  font-size: 2rem;
  color: #333;
}

.shopping-cart .cart-total h3 span {
  color: #ef647e;
}

.quick-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #333;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quick-links .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.quick-links .logo i {
  padding-right: 1rem;
  color: #fff;
}

.quick-links .links a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #fff;
}

.quick-links .links a:hover {
  color: #ef647e;
}

.quick-links .share a {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 2rem;
}

.quick-links .share a:hover {
  color: #ef647e;
}

.credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.credit p {
  font-size: 2rem;
  color: #666;
}

.credit p span {
  color: #ef647e;
}

.credit img {
  height: 4rem;
  -webkit-filter: drop-shadow(0 0 0.1rem #333);
          filter: drop-shadow(0 0 0.1rem #333);
}

.home {
  background: #fff;
}

.home .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  cursor: pointer;
  min-height: 30rem;
  padding: 2rem 0;
}

.home .slide .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  text-align: center;
}

.home .slide .image img {
  height: 30rem;
}

.home .slide .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .slide .content span {
  font-size: 2rem;
  color: #0984e3;
}

.home .slide .content h3 {
  padding-top: 0.5rem;
  color: #333;
  font-size: 3rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: #333;
}

.banner .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.banner .box-container .box {
  position: relative;
  height: 25rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner .box-container .box img {
  background-color: white;
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 77%;
     object-position: 77%;
}

.banner .box-container .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%) rotate(50deg);
          transform: translateY(-50%) rotate(50deg);
}

.banner .box-container .box .content span {
  font-size: 1.7rem;
  color: #0984e3;
}

.banner .box-container .box .content h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #ef647e;
}

.arrivals .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(34rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  gap: 2rem;
}

.arrivals .box-container .box {
  border-radius: 0.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  padding: 2rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  background: #fff;
  cursor: pointer;
}

.arrivals .box-container .box:hover .image .main-img {
  display: none;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.arrivals .box-container .box:hover .image .hover-img {
  display: block;
}

.arrivals .box-container .box .image img {
  height: 15rem;
}

.arrivals .box-container .box .image .hover-img {
  display: none;
}

.arrivals .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.arrivals .box-container .box .content .price {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #0984e3;
}

.arrivals .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.arrivals .box-container .box .content .stars i {
  font-size: 1.5rem;
  color: gold;
}

.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
}

.category .box-container .box {
  text-align: center;
  border-radius: 0.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  padding: 2rem;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.category .box-container .box:hover {
  background: #3333334d;
}

.category .box-container .box:hover h3 {
  color: #fff;
}

.category .box-container .box img {
  height: 8rem;
  margin-bottom: 0.5rem;
}

.category .box-container .box h3 {
  font-size: 1.7rem;
  color: #333;
}

.products .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.products .box-container .box {
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  overflow: hidden;
}

.products .box-container .box:hover .image .main-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.products .box-container .box:hover .image .icons {
  left: 2rem;
}

.products .box-container .box .image {
  position: relative;
}

.products .box-container .box .image .discount {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 4rem;
  letter-spacing: 0.1rem;
  -webkit-transform-origin: top;
          transform-origin: top;
  right: -62px;
  height: 40px;
  top: 14px;
  font-size: 2rem;
  width: 16rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fad0c4), to(#ef0064be));
  background: linear-gradient(#fad0c4, #ef0064be);
  z-index: 100;
  -webkit-transform: rotate(46deg);
          transform: rotate(46deg);
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.products .box-container .box .image img {
  height: 25rem;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
}

.products .box-container .box .image .hover-img {
  display: none;
}

.products .box-container .box .image .icons {
  position: absolute;
  top: 0rem;
  left: -7rem;
}

.products .box-container .box .image .icons a {
  display: block;
  margin-top: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  color: #fff;
  background: #333;
}

.products .box-container .box .image .icons a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fad0c4), to(#ef0064be));
  background: linear-gradient(#fad0c4, #ef0064be);
}

.products .box-container .box .content {
  padding: 2rem;
}

.products .box-container .box .content h3 {
  height: 6rem;
  font-size: 2rem;
  color: #333;
}

.products .box-container .box .content .price {
  padding: 1.5rem 0;
  font-size: 2.2rem;
  color: red;
}

.products .box-container .box .content .price span {
  padding-left: 1rem;
  color: #666;
  font-size: 1.8rem;
  text-decoration: line-through;
}

.products .box-container .box .content .stars i {
  font-size: 1.7rem;
  color: gold;
}

.products .empty-find {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products .empty-find.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products .empty-find .empty-f {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.products .empty-find .title-empty-f {
  color: #888;
}

.products .empty-find .title-empty-f h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #666;
}

.products .empty-find img {
  height: 20rem;
}

.product-banner .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.product-banner .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  position: relative;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  overflow: hidden;
  height: 30rem;
  background: #fff;
}

.product-banner .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product-banner .box-container .box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-banner .box-container .box .content {
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product-banner .box-container .box .content span {
  text-shadow: 2px 2px 4px #000000;
  font-size: 1.7rem;
  color: #fff;
}

.product-banner .box-container .box .content h3 {
  text-shadow: 2px 2px 4px #000000;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #fff;
}

.info-container .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(31rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  gap: 2rem;
}

.info-container .box-container .box {
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.info-container .box-container .box i {
  height: 7.5rem;
  width: 7.5rem;
  line-height: 7.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#fad0c4), to(#ef0064be));
  background: linear-gradient(#fad0c4, #ef0064be);
  color: #fff;
}

.info-container .box-container .box h3 {
  font-size: 2rem;
  padding: 0.5rem 0;
  color: #333;
}

.info-container .box-container .box p {
  font-size: 1.5rem;
  line-height: 2;
  color: #666;
}

.info-container .box-container .box p:hover {
  color: #0984e3;
}

.info-container .box-container .box a {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.info-container .box-container .box a:hover {
  color: #0984e3;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.contact form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.contact form h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #333;
  padding-bottom: 1rem;
}

.contact form p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.contact form .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact form .inputBox input {
  width: 49%;
}

.contact form .inputBox input,
.contact form textarea {
  padding: 1.2rem 1.4rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
  background: #fff;
  text-decoration: none;
  color: #666;
  font-size: 1.5rem;
  margin: 0.7rem 0;
}

.contact form textarea {
  height: 15rem;
  resize: none;
  width: 100%;
}

.contact .map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  width: 100%;
}

.newsletter {
  background: #ef647e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.newsletter .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.newsletter .content h3 {
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}

.newsletter .content p {
  font-size: 2rem;
  color: #fff;
}

.newsletter form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

.newsletter form .email {
  width: 100%;
  padding: 0 1.4rem;
  text-transform: none;
  color: #666;
  font-size: 1.6rem;
}

.newsletter form .btn {
  margin-top: 0;
}

@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
    padding-top: 6rem;
  }
}

@media (max-width: 991px) {
  .quick-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .quick-links .links {
    padding: 1rem 0;
  }
  .quick-links .links a {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 1rem 0;
  }
  .quick-links .share a {
    margin: 0 1rem;
  }
  .credit {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }
  .header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .search-form.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .home .slide {
    text-align: center;
  }
  .newsletter {
    text-align: center;
  }
  .newsletter .content h3 {
    font-size: 4rem;
    padding-bottom: 1rem;
  }
  .newsletter .content p {
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .logo {
    display: none;
  }
  .home .slide .image img {
    height: auto;
    width: 100%;
  }
  .arrivals .box-container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    gap: 2;
    text-align: center;
  }
  .content form .inputBox input {
    width: 100%;
  }
  .shopping-cart .cart-total {
    text-align: center;
  }
  .shopping-cart .cart-total .btn {
    width: 100%;
  }
  .product-banner .box-container .box .content {
    position: absolute;
    top: 78%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .products .box-container .box .image .icons {
    left: 2rem;
  }
  #toast {
    right: 1.4rem;
  }
  .toast {
    min-width: 36rem;
  }
  .shopping-cart .box-container .box .content h3 {
    padding-right: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
/*# sourceMappingURL=ui.css.map */