@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
  outline-style: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
$hover-cl: linear-gradient(#f64f59, #c471ed, #12c2e9);
$blue: #0984e3;
$github-color: linear-gradient(#fad0c4, #ef0064be);
// $github-color: #ebbdde;
$github-color-bold: #ef647e;
$heading: #ef647e;
// $github-color-bold: linear-gradient(#fc5c7d, #6a82fb);
$black: #333;
$white: #fff;
$gold: gold;
$light-color: #666;
$light-bg: #eee;
$border: 0.2rem solid rgba(0, 0, 0, 0.479);
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
$box-shadow-cl: 0 0.5rem 1rem rgba(81, 133, 192, 0.2);

@mixin grid($value) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
  gap: 2rem;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: $light-bg;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $github-color;
    border-radius: 10px;
  }
}
body {
  background: $light-bg;
}

section {
  padding: 3rem 9%;
}

//  toast custom
#toast {
  position: fixed;
  top: 90px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
  &--success {
    border-color: #47d864;
  }
  &__icon {
    color: #47d864;
  }
  &__icon,
  &__close {
    padding: 0 16px;
  }
  .toast--success,
  .toast__icon {
    font-size: 24px;
  }
  &__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:hover {
      color: rgb(231, 64, 64);
    }
  }
  &__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
  }
  &__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
  }
  &__body {
    flex-grow: 1;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

// overlay-paymet
.overlay-payment {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(0, 0, 0, 0.185);
  &.active {
    display: flex;
  }
  .form-get-info {
    position: relative;
    border-radius: 1rem;
    background: #f5b7b9;
    width: 60rem;
    text-align: center;
    padding: 2rem;
    margin: 0 2rem;
    z-index: 999999;
    .custom {
      position: absolute;
      right: 0;
      padding-right: 3rem;
      font-size: 3rem;
      cursor: pointer;
      &:hover {
        color: #ec3859;
      }
    }
    .title {
      padding-bottom: 1rem;
      font-size: 2.3rem;
      span {
        color: #ef647e;
        text-decoration: underline;
      }
    }
    .formdata {
      .form__group {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        label {
          margin-left: 1rem;
          font-size: 2rem;
          font-weight: 600;
          padding-bottom: 0.5rem;
        }
        input {
          border-radius: 5rem;
          padding: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }
}

//// end toast
.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: $black;

  span {
    text-decoration: underline;
    color: $heading;
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  border-radius: 3.5rem;
  padding: 1.5rem 6rem;
  font-size: 1.7rem;
  color: $white;
  cursor: pointer;
  background: $github-color;
  &:hover {
    font-weight: 700;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.185);
    background: linear-gradient(#e3528f, #d8a293);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $github-color-bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;

  .logo {
    font-size: 2.5rem;
    color: $white;
    font-weight: bolder;

    i {
      padding-right: 1rem;
      color: $white;
    }
  }

  .search-form {
    border-radius: 5rem;
    height: 5rem;
    width: 50rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    background: $white;

    input {
      width: 100%;
      padding-right: 1rem;
      font-size: 1.7rem;
      text-transform: none;
      color: $light-color;
      outline: none;
    }

    label {
      font-size: 2rem;
      color: $light-color;
      cursor: pointer;

      &:hover {
        color: $github-color;
      }
    }
  }
  .icons a,
  .icons div {
    font-size: 2.5rem;
    margin-left: 2rem;
    color: $white;
    cursor: pointer;
    &:hover {
      color: $light-color;
    }
  }
  .icons {
    .cart {
      left: -2.2rem;
      position: relative;
      .count {
        font-size: 1.8rem;
        width: 3rem;
        // padding: 0.2rem;
        bottom: 1.8rem;
        left: 3.4rem;
        position: absolute;
        z-index: 10;
        background: #f89fb1;
        border-radius: 50%;
        text-align: center;
      }
    }
  }
}
//     end
#search-btn {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: -110%;
  height: 100%;
  width: 30rem;
  background: $white;
  z-index: 10000;

  &.active {
    // position: fixed;
    left: 0;
    transition: all 0.2s linear;

    // box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  }
  .overlay {
    position: fixed;
    margin-left: 30rem;
    width: calc(100% - 30rem);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  #close-side-bar {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: $light-color;

    &:hover {
      transform: rotate(90deg);
      color: #ef647e;
    }
  }
  .user {
    padding: 2rem;
    background: $light-bg;
    text-align: center;

    img {
      height: 17rem;
      width: 17rem;
      border-radius: 50%;
      border: 1rem solid $github-color;
      box-shadow: $box-shadow;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
    h3 {
      padding: 0.5rem 0;
      font-size: 1.7rem;
      color: $light-color;
    }
    a {
      padding: 1rem 0;
      font-weight: 600;
      font-size: 1.8rem;
      color: #eb9fad;

      &:hover {
        letter-spacing: 1px;
        color: $black;
      }
    }
  }

  .navbar {
    padding: 1rem 2rem;

    a {
      display: block;
      padding: 1rem 2rem;
      font-size: 1.7rem;
      color: $light-color;
      font-weight: bolder;

      &:hover {
        color: $github-color-bold;
        i {
          padding-right: 3rem;
          transform: rotate(40deg);
        }
      }
    }
    i {
      padding-right: 1rem;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .image {
    flex: 1 1 42rem;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }

  .content {
    flex: 1 1 42rem;
    padding: 3rem;
    background: $white;
    border-radius: 5rem;

    h3 {
      font-size: 3rem;
      text-transform: uppercase;
      color: $black;
    }
    p {
      text-transform: none;
      font-size: 1.5rem;
      color: $light-color;
      padding: 0.5rem 0;
      line-height: 2;
    }
  }
}

.faq {
  .accordion-container {
    max-width: 70rem;
    margin: 0 auto;

    .accordion {
      background: $white;
      margin-bottom: 2rem;
      box-shadow: $box-shadow;

      &:last-child {
        margin-bottom: 0.5rem;
      }
      &.active {
        .accordion-heading {
          background: linear-gradient(#f7b2f7, #f5c2b4);
          i {
            transform: rotate(90deg);
          }
        }
        .acconrdion-content {
          display: block;
        }
      }
      .accordion-heading {
        padding: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.479);
        cursor: pointer;
        h3 {
          font-size: 2rem;
          color: $white;
        }
        i {
          font-size: 2rem;
          color: $white;
        }
      }

      .acconrdion-content {
        padding: 2rem;
        font-size: 1.5rem;
        line-height: 2;
        color: $light-color;
        display: none;
        animation: fadeIn 0.2s linear;
      }
    }
  }
}

.review {
  .slide {
    width: 35rem;
    padding: 2rem;
    text-align: center;
    border: $border;
    box-shadow: $box-shadow;
    border-radius: 0.5rem;
    background: $white;

    img {
      height: 10rem;
      width: 10rem;
      border-radius: 50%;
    }

    h3 {
      font-size: 2rem;
      padding: 0.5rem 0;
      color: $black;
    }
    span {
      color: $github-color-bold;
      font-size: 1.7rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2;
      color: $light-color;
    }
  }
}

.shopping-cart {
  .box-container {
    @include grid(31rem);

    .box {
      max-width: 70rem;
      position: relative;
      padding: 2rem;
      border: $border;
      border-radius: 0.5rem;
      box-shadow: $box-shadow;
      display: flex;
      align-items: center;
      // gap: 0.5rem;
      background: $white;
      .fa-times {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 2.5rem;
        color: $light-color;
        cursor: pointer;
        &:hover {
          color: rgb(236, 56, 56);
        }
      }
      img {
        height: 12rem;
      }
      .content {
        h3 {
          max-width: 25rem;
          font-size: 2rem;
          color: $black;
          padding-bottom: 2rem;
        }
        form {
          padding: 1rem 0;
          display: flex;
          gap: 0.5rem;
          align-items: center;

          span {
            font-size: 1.7rem;
            font-weight: bold;
            color: $light-color;
          }
          input {
            width: 5rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            background: $light-bg;
            color: $light-color;
            font-size: 1.7rem;
          }
        }
        .price {
          padding-bottom: 1rem;
          font-size: 2rem;
          color: #f19dac;

          span {
            font-size: 1.5rem;
            color: $light-color;
            text-decoration: line-through;
          }
        }
        .btn-favorite {
          margin-top: 1rem;
          display: inline-block;
          border-radius: 3.5rem;
          padding: 1rem 4rem;
          font-size: 1.7rem;
          color: #fff;
          cursor: pointer;
          background: linear-gradient(#fad0c4, #ef0064be);
          &:hover {
            letter-spacing: 1px;
          }
        }
      }
    }
  }
  .empty-product {
    display: flex;
    flex-direction: column-reverse;
    padding: 2rem;
    align-items: center;
    .empty {
      order: 2;
    }
    .title-empty {
      color: #888;
      h3 {
        font-size: 2rem;
        font-weight: bold;
        color: $light-color;
      }
    }
    img {
      height: 20rem;
    }
  }
  .cart-total {
    margin-top: 2rem;
    box-shadow: $box-shadow;
    border: $border;
    border-color: 0.5rem;
    background: $white;
    padding: 2rem;
    padding-top: 1rem;

    h3 {
      padding-top: 1rem;
      font-size: 2rem;
      color: $black;

      span {
        color: $heading;
      }
    }
  }
}

.quick-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: $black;
  justify-content: space-between;
  .logo {
    font-size: 2.5rem;
    color: $white;
    font-weight: bolder;

    i {
      padding-right: 1rem;
      color: $white;
    }
  }
  .links {
    a {
      margin: 0 1rem;
      font-size: 1.7rem;
      color: $white;

      &:hover {
        color: $github-color-bold;
      }
    }
  }
  .share {
    a {
      font-size: 2.5rem;
      color: $white;
      margin-left: 2rem;

      &:hover {
        color: $github-color-bold;
      }
    }
  }
}

.credit {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: $white;
  justify-content: center;

  p {
    font-size: 2rem;
    color: $light-color;
    span {
      color: #ef647e;
    }
  }
  img {
    height: 4rem;
    filter: drop-shadow(0 0 0.1rem $black);
  }
}

.home {
  background: $white;

  .slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    cursor: pointer;
    min-height: 30rem;
    padding: 2rem 0;
    .image {
      flex: 1 1 42rem;
      text-align: center;

      img {
        height: 30rem;
      }
    }

    .content {
      flex: 1 1 42rem;
      span {
        font-size: 2rem;
        color: $blue;
      }
      h3 {
        padding-top: 0.5rem;
        color: $black;
        font-size: 3rem;
      }
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 3rem;
  color: $black;
}

.banner {
  .box-container {
    @include grid(31rem);

    .box {
      position: relative;
      height: 25rem;
      border: $border;
      border-radius: 0.5rem;
      overflow: hidden;
      box-shadow: $box-shadow;

      &:hover img {
        transform: scale(1.1);
      }
      img {
        background-color: white;
        height: 100%;
        width: 100%;
        object-fit: contain;
        object-position: 77%;
      }
      .content {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%) rotate(50deg);

        span {
          font-size: 1.7rem;
          color: $blue;
        }
        h3 {
          font-size: 2rem;
          padding: 0.5rem 0;
          color: $github-color-bold;
        }
      }
    }
  }
}

.arrivals {
  .box-container {
    @include grid(34rem);

    .box {
      border-radius: 0.5rem;
      border: $border;
      padding: 2rem;
      box-shadow: $box-shadow;
      display: flex;
      align-items: center;
      gap: 1rem;
      background: $white;
      cursor: pointer;

      &:hover {
        .image {
          .main-img {
            display: none;
            animation: fadeIn 0.2s linear;
          }
          .hover-img {
            display: block;
          }
        }
      }

      .image {
        img {
          height: 15rem;
        }
        .hover-img {
          display: none;
        }
      }
      .content {
        h3 {
          font-size: 2rem;
          color: $black;
        }
        .price {
          padding: 0.5rem 0;
          font-size: 2rem;
          color: $blue;

          span {
            font-size: 1.5rem;
            color: $light-color;
            text-decoration: line-through;
          }
        }
        .stars i {
          font-size: 1.5rem;
          color: $gold;
        }
      }
    }
  }
}

.category {
  .box-container {
    @include grid(15rem);

    .box {
      text-align: center;
      border-radius: 0.5rem;
      border: $border;
      padding: 2rem;
      background: $white;
      box-shadow: $box-shadow;
      &:hover {
        background: #3333334d;
        h3 {
          color: $white;
        }
      }
      img {
        height: 8rem;
        margin-bottom: 0.5rem;
      }

      h3 {
        font-size: 1.7rem;
        color: $black;
      }
    }
  }
}

.products {
  .box-container {
    @include grid(31rem);

    .box {
      border: $border;
      text-align: center;
      background: $white;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      overflow: hidden;
      &:hover .image {
        .hover-img {
          // display: inline-block;
        }
        .main-img {
          transform: scale(1.2);
          // display: none;
        }
        .icons {
          left: 2rem;
        }
      }
      .image {
        position: relative;
        .discount {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          line-height: 4rem;
          letter-spacing: 0.1rem;
          transform-origin: top;
          right: -62px;
          height: 40px;
          top: 14px;
          font-size: 2rem;
          width: 16rem;
          background: $github-color;
          z-index: 100;
          transform: rotate(46deg);
          font-weight: 600;
          color: $white;
          text-shadow: $box-shadow;
        }
        img {
          height: 25rem;
          animation: fadeIn 0.2s linear;
        }
        .hover-img {
          display: none;
        }
        .icons {
          position: absolute;
          top: 0rem;
          left: -7rem;

          a {
            display: block;
            margin-top: 1rem;
            height: 4.5rem;
            width: 4.5rem;
            line-height: 4.5rem;
            font-size: 1.5rem;
            border-radius: 50%;
            color: $white;
            background: $black;

            &:hover {
              background: $github-color;
            }
          }
        }
      }
      .content {
        // background: $light-bg;
        padding: 2rem;
        h3 {
          height: 6rem;
          font-size: 2rem;
          color: $black;
        }

        .price {
          padding: 1.5rem 0;
          font-size: 2.2rem;
          color: red;

          span {
            padding-left: 1rem;
            color: $light-color;
            font-size: 1.8rem;
            text-decoration: line-through;
          }
        }
        .stars {
          i {
            font-size: 1.7rem;
            color: $gold;
          }
        }
      }
    }
  }
  .empty-find {
    display: none;
    flex-direction: column-reverse;
    padding: 2rem;
    align-items: center;
    &.active {
      display: flex;
    }
    .empty-f {
      order: 2;
    }
    .title-empty-f {
      color: #888;
      h3 {
        font-size: 2rem;
        font-weight: bold;
        color: $light-color;
      }
    }
    img {
      height: 20rem;
    }
  }
}

.product-banner {
  .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    .box {
      flex: 1 1 42rem;
      position: relative;
      box-shadow: $box-shadow;
      border-radius: 0.5rem;
      border: $border;
      overflow: hidden;
      height: 30rem;
      background: $white;
      &:hover img {
        transform: scale(1.1);
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .content {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);

        span {
          text-shadow: 2px 2px 4px #000000;
          font-size: 1.7rem;
          color: $white;
        }
        h3 {
          text-shadow: 2px 2px 4px #000000;
          padding-top: 0.5rem;
          font-size: 2rem;
          color: $white;
        }
      }
    }
  }
}

.info-container {
  .box-container {
    @include grid(31rem);

    .box {
      background: $white;
      border-radius: 0.5rem;
      text-align: center;
      padding: 2rem;
      border: $border;
      box-shadow: $box-shadow;

      i {
        height: 7.5rem;
        width: 7.5rem;
        line-height: 7.5rem;
        font-size: 2.5rem;
        border-radius: 50%;
        margin-bottom: 0.5rem;
        background: $github-color;
        color: $white;
      }
      h3 {
        font-size: 2rem;
        padding: 0.5rem 0;
        color: $black;
      }
      p {
        font-size: 1.5rem;
        line-height: 2;
        color: $light-color;
        &:hover {
          color: $blue;
        }
      }
      a {
        font-size: 1.5rem;
        color: $light-color;
        padding: 1rem 0;
        line-height: 2;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  form {
    flex: 1 1 42rem;

    h3 {
      font-size: 3rem;
      text-transform: uppercase;
      color: $black;
      padding-bottom: 1rem;
    }
    p {
      font-size: 1.5rem;
      color: $light-color;
      padding: 1rem 0;
      line-height: 2;
    }

    .inputBox {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      input {
        width: 49%;
      }
    }
    .inputBox input,
    textarea {
      padding: 1.2rem 1.4rem;
      border-radius: 0.5rem;
      box-shadow: $box-shadow;
      border: $border;
      background: $white;
      text-decoration: none;
      color: $light-color;
      font-size: 1.5rem;
      margin: 0.7rem 0;
    }
    textarea {
      height: 15rem;
      resize: none;
      width: 100%;
    }
  }
  .map {
    flex: 1 1 42rem;
    width: 100%;
  }
}

.newsletter {
  background: $github-color-bold;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .content {
    flex: 1 1 42rem;

    h3 {
      font-size: 6rem;
      color: $white;
      text-transform: uppercase;
    }
    p {
      font-size: 2rem;
      color: $white;
    }
  }
  form {
    flex: 1 1 42rem;
    background: $white;
    display: flex;
    padding: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    height: 6rem;

    .email {
      width: 100%;
      padding: 0 1.4rem;
      text-transform: none;
      color: $light-color;
      font-size: 1.6rem;
    }
    .btn {
      margin-top: 0;
    }
  }
}

// Responsive

@media (max-width: 1200px) {
  // html {
  //   font-size: 55%;
  // }

  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
    padding-top: 6rem;
  }
}

@media (max-width: 991px) {
  .quick-links {
    flex-flow: column;

    .links {
      padding: 1rem 0;

      a {
        display: block;
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0;
      }
    }
    .share {
      a {
        margin: 0 1rem;
      }
    }
  }
  .credit {
    flex-flow: column;
    text-align: center;
  }
}

@media (max-width: 768px) {
  #search-btn {
    display: inline-block;
  }
  .header {
    .search-form {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      width: 100%;
      border-radius: 0;
      box-shadow: $box-shadow;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .home {
    .slide {
      text-align: center;
    }
  }
  .newsletter {
    text-align: center;

    .content {
      h3 {
        font-size: 4rem;
        padding-bottom: 1rem;
      }
      p {
        font-size: 1.7rem;
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .header {
    justify-content: center;
    .logo {
      display: none;
    }
    .icons a,
    .icons div {
    }
  }
  .home {
    .slide {
      .image {
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
  .arrivals .box-container .box {
    flex-flow: column;
    gap: 2;
    text-align: center;
  }
  .content form .inputBox input {
    width: 100%;
  }
  .shopping-cart .cart-total {
    text-align: center;

    .btn {
      width: 100%;
    }
  }
  .product-banner .box-container .box .content {
    position: absolute;
    top: 78%;
    left: 5%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .products .box-container .box .image .icons {
    left: 2rem;
  }

  #toast {
    right: 1.4rem;
  }
  .toast {
    min-width: 36rem;
  }
  .shopping-cart {
    .box-container {
      .box {
        .content {
          h3 {
            padding-right: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
